In [60]:
import pandas as pd

In [61]:
pd.__version__

'2.2.3'

In [62]:
df = pd.read_csv('yellow_tripdata_2021-01.csv')

/var/folders/sj/gp08bx6j757g0xhrl1rffydm0000gn/T/ipykernel_9537/2722673778.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [64]:
from sqlalchemy import create_engine

In [65]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [66]:
engine.connect()

In [67]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" FLOAT(53),
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [69]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace')

0

In [76]:
%time df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')

CPU times: user 1.9 s, sys: 69.2 ms, total: 1.96 s
Wall time: 3.23 s

1000

In [77]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')